@media(max-width:414px){
    body{
        background-color: #FFFF;
        height: 100%;
        text-decoration: none;
        
    }
    .root{
        width: 100%;
        height: 100vh;
    }
    .topo{
        background-color: #c2cfd8;
        color: #E8823B;
        width: 100%;
        height: 75px;
        font-size:40px ;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .container{
        height: 100%;
        margin-top: 60px;
        align-items: center;
        justify-content: center;
    }
    .topo2{
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        margin-bottom: 30px;
    }
    .basefilme{
        display:flex ;
        justify-content: center;
        align-items: center;
        width: 146px;
        height: 212px;
        box-shadow: 0 0 1em rgba(0, 0, 0, 0.466);
        position: relative;
        margin-bottom: 10px;
    }
    .basefilme > img{
        width: 129px;
        height: 193px;
        position:absolute;
    }
    .Filmes{
        display:grid;
        grid-template-columns: repeat(2, auto);
        justify-content: space-evenly;
        align-items: center;
    }
    .sessao{
        background-color: #E8833A;
        margin-left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 83px;
        height: 43px;
        border-radius: 5px;
        margin-bottom: 12px;
        font-size: 18px;
        text-decoration-color:#E8833A;
        color: white;
    }
    .sessoes{
        display: flex;
    }
    .horarios{
        border-bottom: #9EADBA solid;
    }
    .row{
        font-size: 20px;
        margin-bottom: 12px;
    }
    .horario{
        margin-left: 10px;
    }
    .barrainf{
        display: flex;
        background-color: #9EADBA;
        height: 150px;
        align-items: center;
        padding: 15px;
        font-size: 25px;
    }
    .barrainf > img{
        width: 52px;
        height: 76px;
        margin-right:10px;
        left: 0;
        bottom: 0;
    }
    .opcoes{
        display: flex;
    }
    .disponivel, .indisponivel, .selecionado{
        width:25px;
        height: 25px;
        border-radius: 17px;
        cursor: pointer;
    }
    .disponivel{
        background-color: #7B8B99;
    }
    .indisponivel{
        background-color: #FBE192;
    }
    .selecionado{
        background-color: #1AAE9E;
    }
    .opcao{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .assentos{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom:50px;
        }
    .inserir{
        margin-bottom: 20px;
    }
    .assentos > div{
        margin: 15px 15px;
    }

    


}